html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}
#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}
#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background: url('ocean-2.jpg');
 background-size: cover;
 overflow: hidden; /* contain objects "on-screen" */
}
#moana {
    width: 150px;
    height: 150px;
    position: relative;
    left: 250px;
    top: 180px;
    z-index: 1;
}
#boat {
    width: 500px;
    height: 400px;
    position: relative;
    left: 150px;
    bottom: 150px;
}
#wave {
    width: 300px;
    height: 200px;
    position: relative;
    right: 10px;
    bottom: 400px;
    animation: wave 5s infinite ease-in-out;
}
#splash {
    width: 150px;
    height: 100px;
    position: relative;
    right: 290px;
    bottom: 400px;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}
