html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}
#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}
#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background: url('ocean-2.jpg');
 background-size: cover;
 overflow: hidden; /* contain objects "on-screen" */
}
#moana {
    width: 150px;
    height: 150px;
    position: relative;
    left: 190px;
    top: 177px;
    animation: moana 5s infinite ease-in-out;
    display: inline-block;
    z-index: 1;
}
#boat {
    width: 500px;
    height: 400px;
    position: relative;
    left: 110px;
    bottom: 150px;
    animation: boat 10s infinite ease-in-out
}
#wave {
    width: 300px;
    height: 200px;
    position: relative;
    right: 0px;
    bottom: 400px;
    animation: wave 5s infinite ease-in-out;
    display: inline-block;
    z-index: 1;
}
#splash {
    width: 150px;
    height: 100px;
    position: relative;
    right: 250px;
    bottom: 400px;
    animation: splash 5s infinite ease-in;
    display: inline-block;
}

@keyframes wave {
    0% {
        transform: rotate(-5deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}


@keyframes splash {
    0% { transform: scale(0); opacity: 0;}
    50% { transform: scale(1) translate(-200px); opacity: 1;}
    75% { transform: scale(1) translate(-200px); opacity: 1;}
    100% { transform: scale(0); opacity: 0;}
}

@keyframes moana {
    0% {
        transform: rotate(-7deg);
    }
    25% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(-7deg);
    }
}

@keyframes boat {
    0% {
        transform: rotate(-3deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}
}
